/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.headerLogo {
  width: 32px;
}

/* MAIN */
.sectionHero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

#displayResult {
    background-color: aqua;
}

#convertButton {
  transition-duration: 1s;
}

#convertButton:hover {
  background-color: lightcoral;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: aquamarine;
}